[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "*"
pytest = "*"
pytest-playwright = ">=0.3.3"
playwright = ">=1.34"
boto3 = "*"

[dev-packages]
pyright = "*"
jedi = "*"
flake8 = "*"
isort = "*"
mccabe = "*"
flake8-2020 = "*"
flake8-alfred = "*"
flake8-encodings = "*"
flake8-warnings = "*"
flake8-unused-arguments = "*"
flake8-builtins = "*"
pep8-naming = "*"
python-lsp-server = "*"
black = "*"
flake8-length = "*"

[requires]
python_version = "3.10"
